.daracl-tree {
  --border-color: #dfe1e5;
  --body-bg: #ffffff;
  --body-color: #686868;
  --body-hover-color: #edeeef;
  --body-hover-bg: #d1e4f5;
  --body-active-color: #fff;
  --body-active-bg: #337ab7;
  --item-hover-font-color: #000000;
  --item-hover-bg-color: #b7e9ff;
  --item-select-font-color: #000000;
  --item-select-bg-color: #c8efff;
  --item-focus-font-color: #000000;
  --item-focus-bg-color: #e4f7ff;
  --input-bg: transparent;
  --input-color: #212529;
  --item-search-font-color: #0040ff;
}
