body.dark .daracl-tree,
.daracl-tree.dark {
  --border-color: #41444c;
  --body-bg: #1d212a;
  --body-color: #b0b2b5;
  --body-hover-color: #3a3d41;
  --body-hover-bg: #7b7d83;
  --body-active-color: #3a3d41;
  --body-active-bg: #337ab7;
  --body-disabled-color: #777;
  --btn-bg: transparent;
  --btn-color: #d4dde6;
  --btn-bg-hover: #3950a2;
  --item-hover-font-color: #000000;
  --item-hover-bg-color: #cdeefc;
  --item-select-font-color: #000000;
  --item-select-bg-color: #beebff;
  --item-focus-font-color: #000000;
  --item-focus-bg-color: #e4f7ff;
  --input-bg: transparent;
  --input-color: #212529;
  --item-search-font-color: #1fa0ff;
}
